:root {
    --pink-color: #f26a87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8888);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

.hide {
    display: none;
}

.warapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    background-color: #1a1a1a;
    overflow: hidden;
    width: 600px;
    height: 70px;
    position: relative;
    border-radius: 5px;
}

.search-box__input {
    background: transparent;
    width: 100%;
    height: 100%;
    pl
}

.search-box__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    font-size: 15px;
    border: none;
    outline: none;
}