:root {
    --pink-color: #f26a87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8888);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

.hide {
    display: none;
}

.warapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    background-color: #1a1a1a;
    overflow: hidden;
}

.search-box__btn{
    position: absolute;
    top: 0;
    ri
}