:root {
    --success-color: #2691d9;
    --error-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.hide {
    display: none;
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

h1 {
    text-align: center;
}

.form-control {
    width: 100%;
    position: relative;
    margin-top: 4px;
}

.form-control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
}

.form-control input:focus~span {
    width: 100%;
}

.form-control span {
    position: absolute;
    top: 38px;
    left: 0;
    width: 0;
    border-bottom: 2px solid var(--success-color);
    transition: 0.3s all;
}

.btn-submit {
    width: 100%;
    height: 50px;
    background-color: var(--success-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0;
    border-radius: 25px;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    color: var(--success-color);
    text-decoration: none;
    cursor: pointer;
}

.signup-link a//////// {}

.form-control.error {
    color: var(--error-color);
}

.form-control.error input {
    border-bottom: 2px solid var(--error-color);

}

@media (max-width:991px) {
    .box .detail {
        --gap: 20px;
        --colums: 2;
        --row-gap: 20px
    }
}

@media (max-width:575px) {
    .box .detail {
        --gap: 0;
        --colums: 1;
        --row-gap: 20px
    }
}