:root {
    --pink-color: #f26a87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.hide {
    display: none;
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

h1 {
    text-align: center;
}

.form-control {
    width: 100%;
}

.form-control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
    tr
}

@media (max-width:991px) {
    .box .detail {
        --gap: 20px;
        --colums: 2;
        --row-gap: 20px
    }
}

@media (max-width:575px) {
    .box .detail {
        --gap: 0;
        --colums: 1;
        --row-gap: 20px
    }
}