:root {
    --pink-color: #f26a87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #8cc84c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

button {
    cursor: pointer;
    border: none;
}

.hide {
    display: none;
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
}

.title {
    font: 22px;
}

.content {
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
}

.content ul {
    list-style: none;
}

.content li {
    background-color: #8cc84c;
    color: #fff;
    border-radius: 3px;
    margin: 4px;
    padding: 10px;
    display: inline-block;

}

.content li i {
    font-size: 12px;
    margin-left: 5px;
}

.content input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 20px;
    margin: 10px;
}

.remove-all {
    border: none;
    outline: none;
    background-color: #8cc84c;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
}

@media (max-width:991px) {
    .box .detail {
        --gap: 20px;
        --colums: 2;
        --row-gap: 20px
    }
}

@media (max-width:575px) {
    .box .detail {
        --gap: 0;
        --colums: 1;
        --row-gap: 20px
    }
}